  body {
   margin: 0px;
   padding: 0px;
   font-family: sans-serif;
   color: #333;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

.BarreHaut {
  position: absolute;
    width: 100%;
    z-index: 1000;
    background: #666;
    height: 35px;
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.4);
}

.logoHead {
background-image: url(icone/location-pin.svg);
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    top: 12%;
    background-size: 25px 25px;
}

.BarreIcone {
position: absolute;
    width: 36px;
    z-index: 1000;
    top: 40px;
    left: 11px;
    background: #666;
    height: 36px;
    border-radius: 0.2em;
	    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.4);
		cursor: pointer;
}

.BarreIcone1 {
position: absolute;
    width: 36px;
    z-index: 1000;
    top: 40px;
   left: 56.5px;
    background: #666;
    height: 36px;
    border-radius: 0.2em;
	    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.4);
		cursor: pointer;
}

.BarreIcone2 {
position: absolute;
    width: 36px;
    z-index: 1000;
    top: 40px;
   left: 103px;
    background: #666;
    height: 36px;
    border-radius: 0.2em;
	    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.4);
		cursor: pointer;
}

.BarreIcone3 {
position: absolute;
    width: 36px;
    z-index: 1000;
    top: 40px;
   left: 148px;
    background: #666;
    height: 36px;
    border-radius: 0.2em;
	    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.4);
		cursor: pointer;
}

.logoclass {
	background-image: url(icone/question-mark-inside-a-circle.svg);
	position: absolute;
    left: 89%;
     height: 16px;
	width: 16px;
	top : 11px;
	cursor: pointer;
}
.logoclass:hover {
background-image: url(icone/question-mark-inside-a-circle-hover2.svg);
}

.logo2class {
	background-image: url(icone/question-mark-inside-a-circle.svg);
	position: absolute;
    left: 89%;
     height: 16px;
	width: 16px;
	top : 48px;
	cursor: pointer;
}
.logo2class:hover {
background-image: url(icone/question-mark-inside-a-circle-hover2.svg);
}

.Listclass {
	background-image: url(icone/list.svg);
    position: absolute;
    left: 9px;
    height: 22px;
    width: 22px;
    top: 37px;
	
}

.ListclassF {
		background-image: url(icone/list2.svg);
    position: absolute;
    left: 9px;
    height: 22px;
    width: 22px;
    top: 37px;
    cursor: pointer;
}
.Basemapclass {
	background-image: url(icone/menu3.svg);
   position: absolute;
    left: 54px;
    height: 22px;
    width: 22px;
    top: 37px;
    cursor: pointer;
}

.BasemapclassF {
	background-image: url(icone/menu2.svg);
   position: absolute;
    left: 54px;
    height: 22px;
    width: 22px;
    top: 37px;
    cursor: pointer;
}

.Topoclass {
	background-image: url(icone/topography.svg);
   position: absolute;
    left: 100px;
    height: 22px;
    width: 22px;
    top: 37px;
    cursor: pointer;
}

.TopoclassF {
	background-image: url(icone/topography2.svg);
   position: absolute;
    left: 100px;
    height: 22px;
    width: 22px;
    top: 37px;
    cursor: pointer;
}


.TopoDot {
	 display:none;
}

.TopoDotF {
	position: absolute;
     left: 117px;
    top: 28px;
    height: 8px;
    width: 8px;
    background-color: #56e616;
    border-radius: 50%;
    display: inline-block;
}

.ListDot {
	 display:none;
}

.ListDotF {
	position: absolute;
    left: 27px;
    top: 28px;
    height: 8px;
    width: 8px;
    background-color: #56e616;
    border-radius: 50%;
    display: inline-block;
}



.Loupeclass {
	background-image: url(icone/question-mark-inside-a-circle-hover.svg);
     position: absolute;
    left: 145px;
    height: 22px;
    width: 22px;
    top: 37px;
    cursor: pointer;
}

.LoupeclassF {
	background-image: url(icone/question-mark-inside-a-circle-hover2.svg);
    position: absolute;
    left: 145px;
    height: 22px;
    width: 22px;
    top: 37px;
    cursor: pointer;
}




.fenetre1class {
 display:none;
}

.fenetre1classF {
	position: absolute;
    z-index: 1000;
    background: white;
    padding: 10px;
    right: 0;
    margin: 10px;
    min-height: 50px;
    width: 190px;
    left: 0px;
	top:73px;
    border-radius: .4em;
    box-shadow: 0 0 6px #999;
}




.item1debut {
	text-align:left; 
	font-size: 12px;
	color:#666;
	font-weight:bold; 
	padding: 2px;
	margin-left: 7px;
}

.rectangle1 {
    width: 25px;
    height: 15px;
    background: #9898d2;
    display: inline-block;

    border-radius: 3px;
    left: 74%;
    top: 12px;
    position: absolute;
}

	
	.rectangle2 {
	width: 23px;
    height: 13px;
    background: yellow;
    display: inline-block;
    border-radius: 3px;
	 border: 1px;
    border-style: dashed solid;
    border-color: red;
    left: 74%;
    top: 49px;
    position: absolute;	
		
    }



.item2debut {
	text-align:left; 
	font-size: 12px;
	color:#666;
	font-weight:bold; 
	padding: 2px;
	margin-left: 7px;
}



/*    infobulle Item1     */
.Info1ClasseD {
    display:none;
}

.Info1ClasseF {
	font-weight:bold; 
	position: absolute;
    z-index: 1000;
    background: white;
    padding: 3px;
    right: 0;
    margin: 10px;
    min-height: 10px;
    width: 70px;
    left: 222px;
	top: 86px;
    border-radius: .4em;
    box-shadow: 0 0 6px #999;
}
/*    fin de la fenêtre d'information     */

/*    Infobulle Item2     */
.Info2ClasseD {
    display:none;
}

.Info2ClasseF {
	font-weight:bold; 
	position: absolute;
    z-index: 1000;
    background: white;
    padding: 3px;
    right: 0;
    margin: 10px;
    min-height: 10px;
    width: 70px;
    left: 222px;
    top: 123px;
    border-radius: .4em;
    box-shadow: 0 0 6px #999;
}
/*    fin de la fenêtre d'information     */

/*    Description de la carte     */
.DescriptionCarteClassD {
    display:none;
}

.DescriptionCarteClassF {
   z-index: 1000;
	height: 400px;
  width: 300px;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
  position: absolute;
  border-radius: .4em;
    box-shadow: 0 0 6px #999;
  background-color: white;
}

#CloseDesc {
	display: inline-block;
    text-align: left;
    font-size: 11px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 3px solid #8B0000;
    background-color: #8B0000;
    border-radius: .5em;
        margin-left: 83%;
    margin-top: 2%;
    padding: 1px;
}
#CloseDesc:hover {
  background-color: grey;
  border: 3px solid grey;
}


/*    Afficher les coordonnées    */
.CoordonneesClassD {
    display:none;
}

.CoordonneesClassF {
  position: absolute;
    z-index: 1000;
    background: white;
    padding: 10px;
    right: 0;
    margin: 10px;
    min-height: 55px;
    width: 200px;
    left: 0px;
	bottom:5px;
    border-radius: .4em;
    box-shadow: 0 0 6px #999;
}

#CloseCoor {
	display: inline-block;
    text-align: left;
    font-size: 11px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 3px solid #8B0000;
    background-color: #8B0000;
    border-radius: .5em;
    margin-left: 10%;
    margin-top: 1px;
    padding: 1px;
}
#CloseCoor:hover {
  background-color: grey;
  border: 3px solid grey;
}

#Recentrer {
	display: inline-block;
    text-align: left;
    font-size: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 2px solid #666;
    background-color: #666;
    border-radius: .5em;
    margin-left: 2%;
}
#Recentrer:hover {
  background-color: black;
  border: 2px solid black;
}


/*    fenêtre de Basemap    */
.InfoBasemapClasseD {
    display:none;
}

.InfoBasemapClasseF {
	font-weight: bold;
    position: absolute;
    z-index: 2000;
    background: white;
    padding: 3px;
    right: 0;
    margin: 10px;
    min-height: 10px;
    width: 160px;
    left: 0px;
    top: 73px;
    border-radius: .5em;
    box-shadow: 0 0 6px #999;
}
/*    fin de la fenêtre de Basemap    */

/*    fenêtre de Topo   */
.InfoTopoClasseD {
    display:none;
}

.InfoTopoClasseF {
	font-weight: bold;
    position: absolute;
    z-index: 2000;
    background: white;
    padding: 3px;
    right: 0;
    margin: 10px;
    min-height: 10px;
    width: 160px;
    left: 0px;
    top: 73px;
    border-radius: .4em;
    box-shadow: 0 0 6px #999;
}
/*    fin de la fenêtre de Basemap    */

.SelectBasemap {
	text-align:left; 
	font-size: 11px; 
	color:#999;
	padding: 2px;
	margin-top:-3px;
	cursor: pointer;
	margin-left: 8px;
}
.SelectBasemap:hover {
    text-align:left; 
	font-size: 11px; 
	background-color: #f1f1f1;
	border-radius: .2em;
	padding: 2px;
	margin-top:-3px;
	cursor: pointer;
	margin-left: 8px;
}

.SelectBasemapF {
    text-align:left; 
	font-size: 11px; 
	color:#333;
	padding: 2px;
	margin-top:-3px;
	cursor: pointer;
	border-bottom: 2px solid #70d244;
	margin-left: 8px;
}

/*    fenêtre d'information ?    */
.InfoRechercheClasseD {
    display:none;
}

.InfoRechercheClasseF {
	font-weight: bold;
    position: absolute;
    z-index: 2000;
    background: white;
    padding: 3px;
    right: 0;
    margin: 10px;
    min-height: 10px;
	text-align : center;
    width: 205px;
    left: 0px;
    top: 73px;
    border-radius: .4em;
    box-shadow: 0 0 6px #999;
}
/*    fin de la fenêtre de recherche    */


.SelectRecherche {
	text-align:left; 
	font-size: 11px; 
	color:#999;
	padding: 2px;
	margin-top:-3px;
	cursor: pointer;	
}
.SelectRecherche:hover {
    text-align:left; 
	font-size: 11px; 
	border-radius: .2em;
	background-color: #f1f1f1;
	padding: 2px;
	margin-top:-3px;
	cursor: pointer;
}

.SelectRechercheF {
    text-align:left; 
	font-size: 11px; 
	color:#333;
	padding: 2px;
	margin-top:-3px;
	cursor: pointer;
	border-bottom: 2px solid #70d244;
}






































.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  left : 2%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #70d244;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}